<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="home-icon fa fa-home"></i>
			<a href="#">学习</a>
		</li>
		<li>
			<a href="#">内容管理</a>
		</li>
		<li class="active">栏目管理</li>
	</ul>
</div>
<div class="content table-responsive">
	<table id="list_table" class="table list-table table-striped table-hover  table-bordered">
		<colgroup>
			<col width="100px" />
			<col />
			<col width="90px" />
			<col width="90px" />
			<col width="150px"  />
		</colgroup>
		<caption>
		<a class="btn btn-default" href='{url:/study/article_cat_edit}'>
            <i class="fa fa-plus"></i>添加栏目
        </a>
		</caption>
		<thead>
			<tr>
				<th>logo</th>
				<th>栏目名称</th>
				<th>类型</th>
				<th>系统栏目</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			{foreach:items=Api::run('getArticleCategoryListAll')}
			<tr id="{$item['id']}" parent={$item['parent_id']}>
				<td>
						{if:isset($item['logo']) && $item['logo']}
						<img src='{url:$item['logo']}' style='width:100px;border:1px solid #ccc' />
						{/if}
				</td>
				<td><i style="margin-left:{echo:(substr_count($item['path'],',')-2)*2}0px" class="operator fa fa-minus-square-o" onclick="displayData(this);" title="关闭"></i>{$item['name']}</td>
				<td>{echo:($item['cat_type']==1) ? '学习':'专题'}</td>
				<td>{echo:($item['issys']==1) ? '是':'否'}</td>
				<td>
					<a href='{url:/study/cat_edit/id/$item['id']}'><i class='operator fa fa-edit'></i></a>
					<a href="javascript:delModel({link:'{url:/study/cat_del/id/$item['id']}'});"><i class='operator fa fa-close'></i></a>
				</td>
			</tr>
			{/foreach}
		</tbody>
	</table>
</div>
<script language="javascript">
//折叠展示
function displayData(_self)
{
	if(_self.title == "关闭")
	{
		jqshow($(_self).parent().parent().attr('id'), 'hide');
		$(_self).removeClass("fa-minus-square-o").addClass("fa-plus-square-o");
		_self.title = '打开';
	}
	else
	{
		jqshow($(_self).parent().parent().attr('id'), 'show');
		$(_self).removeClass("fa-plus-square-o").addClass("fa-minus-square-o");
		_self.title = '关闭';
	}
}

function jqshow(id,isshow)
{
	var obj = $("#list_table tr[parent='"+id+"']");
	if(obj.length > 0)
	{
		obj.each(function(i){
			jqshow($(this).attr('id'),isshow);
		});

		if(isshow == 'hide')
		{
			obj.hide();
		}
		else
		{
			obj.show();
		}
	}
}
</script>