<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="home-icon fa fa-home"></i>
            <a href="#">考试</a>
        </li>
        <li>
            <a href="#">考试管理</a>
        </li>
        <li class="active">编辑试卷</li>
    </ul>
</div>

<div class="content table-responsive">
	<form action='{url:/exam/paper_edit_act}' method='post' name='cat'>
		<input type='hidden' name='id' value='' />
		<table class="table form-table">
			<colgroup>
				<col width="160px" />
				<col />
			</colgroup>

			<tr>
				<th>名称：</th>
				<td>
					<input type='text' class='form-control' name='title' value='' pattern='required' placeholder='填写名称' />
				</td>
			</tr>
            <tr>
                <th>描述：</th>
                <td>
                    <textarea class='form-control' name='description' value='' ></textarea>
                </td>
            </tr>
			<tr>
				<th></th><td><button class='btn btn-primary' type='submit'>确定</button></td>
			</tr>
		</table>
	</form>
</div>
<script>
var formObj = new Form();
formObj.init({echo:JSON::encode($this->paper_row)});
</script>