<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="home-icon fa fa-home"></i>
			<a href="#">用户</a>
		</li>
		<li>
			<a href="#">岗位分类管理</a>
		</li>
		<li class="active">编辑分类</li>
	</ul>
</div>
<div class="content table-responsive">
	<form action="{url:/member/category_save}" method="post">
		<input name="id" value="" type="hidden" />
		<table class="table form-table">
			<colgroup>
				<col width="130px" />
				<col />
			</colgroup>

			<tr>
				<th>分类名称：</th>
				<td>
					<input class="form-control" name="name" type="text" value="" pattern="required" />
				</td>
			</tr>
			<tr>
				<th>上级分类：</th>
				<td>
					<!--分类数据显示-->
					<span id="__categoryBox" style="margin-bottom:8px"></span>
					<button class="btn btn-default" type="button" name="_memberCategoryButton"><i class="fa fa-list"></i> 设置分类</button>
					{set:plugin::trigger('memberCategoryWidget',array("name" => "parent_id","value" => isset($this->categoryRow['parent_id']) ? $this->categoryRow['parent_id'] : IReq::get('pid')))}
					<p class="help-block">如果不选择上级分类，默认为顶级分类</p>
				</td>
			</tr>
			<tr>
				<th>岗位特别参数：</th><td><input class="form-control" name="ext_field" empty type="text" value=""/></td>
			</tr>
			<tr>
				<th>排序：</th><td><input class="form-control" name="sort" pattern='int' empty type="text" value=""/></td>
			</tr>
			<tr>
				<td></td><td><button class='btn btn-primary' type="submit">确定</button></td>
			</tr>
		</table>
	</form>
</div>

<script type="text/javascript">
$(function()
{
	var formObj = new Form();
	formObj.init({echo:JSON::encode($this->categoryRow)});
})
</script>