<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="home-icon fa fa-home"></i>
			<a href="#">会员</a>
		</li>
		<li>
			<a href="#">会员管理</a>
		</li>
		<li class="active">会员列表</li>
	</ul>
</div>

<div class="content table-responsive">
		<form name="searchuser" action="{url:/member/member_list}" method="get" class="pull-right form-inline" style="margin:0">
			<input type="hidden" name="controller" value="member"/>
			<input type="hidden" name="action" value="member_list"/>
			<select class="form-control" name="search">
				<option value="m.mobile">手机</option>
				<option value="m.true_name">姓名</option>
				<option value="m.idcode">身份证号码</option>
			</select>
			<input class="form-control" name="keywords" type="text" value="{$keywords}"/>
			<button class="btn btn-default" type="submit">
				<i class="fa fa-search"></i>搜 索
			</button>
		</form>
	<table class="table list-table  table-striped table-hover  table-bordered">
		<colgroup>
			<col width="35px" />
			<col />
			<col width="100px" />
			<col width="100px" />
			<col width="50px" />
			<col width="100px"/>
			<col width="120px" />
			<col width="90px" />
			<col width="50px" />
			<col width="160px" />
			<col width="160px" />
			<col width="120px" />
		</colgroup>
		<caption>
            <a class="btn btn-default" href='{url:/member/member_edit}'>
                <i class="fa fa-plus"></i>添加会员
            </a>
            <a class="btn btn-default" onclick="selectAll('check[]')">
                <i class="fa fa-check"></i>全选
            </a>
            <a class="btn btn-default" onclick="delModel({'form':'member_list',msg:'确定要删除所选中的会员吗？<br />删除的会员可以从回收站找回。'})">
                <i class="fa fa-close"></i>批量删除
            </a>
            <a class="btn btn-default" href='{url:/member/recycling}'>
                <i class="fa fa-trash"></i>回收站
            </a>
		</caption>
		<thead>
			<tr>
				<th></th>
				<th>昵称</th>
				<th>用户名</th>
				<th>姓名</th>
				<th>性别</th>
				<th>身份证号码</th>
				<th>手机</th>
				<th>积分</th>
				<th>状态</th>
				<th>注册日期</th>
				<th>最近登录</th>
				<th>操作</th>
			</tr>
		</thead>
		<form action="{url:/member/member_reclaim}" method="post" name="member_list" onsubmit="return checkboxCheck('check[]','尚未选中任何记录！')">
		<tbody>
           {foreach:items=$this->query->find()}
			<tr>
				<td><input name="check[]" type="checkbox" value="{$item['user_id']}" /></td>
				<td>{if:isset($item['logo']) && $item['logo']}
					<img src='{url:/pic/thumb/w/100/h/100/img/$item[logo]}' width="30" height="30" class='ico' />
					{/if}
					{$item['nickname']}</td>
				<td title="{echo:htmlspecialchars($item['username'])}">{$item['username']}</td>
				<td title="{echo:htmlspecialchars($item['true_name'])}">{$item['true_name']}</td>
				<td>{if:$item['sex']=='1'}男{else:}女{/if}</td>
				<td title="{echo:htmlspecialchars($item['uuid'])}">{$item['uuid']}</td>
				<td title="{echo:htmlspecialchars($item['mobile'])}">{$item['mobile']}</td>
				<td title="{$item['point']}">{$item['point']}</td>
				<td title="{echo:Common::userStatusText($item['status'])}">{echo:Common::userStatusText($item['status'])}</td>
				<td title="{$item['time']}">{$item['time']}</td>
				<td title="{$item['last_login']}">{$item['last_login']}</td>
				<td>
					<a href="{url:/member/member_edit/uid/$item['user_id']}"><i class='operator fa fa-edit'></i></a>
					<a href="{url:/company/company_work_list/search[u.user_id]/=$item['user_id']}"><i class='operator fa fa-list'></i></a>
					<a onclick="delModel({link:'{url:/member/member_reclaim/check/$item['user_id']}'})"><i class='operator fa fa-close'></i></a>
				</td>
			</tr>
			{/foreach}
		</tbody>
		</form>
	</table>
	{$this->query->getPageBar()}
</div>

<script language="javascript">
//预加载
$(function(){
	var formObj = new Form('searchuser');
	formObj.init({'search':'{$search}'});
})

</script>
